[core]
	excludesfile = /Users/skullface/Personal/dotfiles/git/.gitignore
	editor = vim
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = 1
[merge]
	conflictstyle = diff3[github]
	user = skullface
[push]
	default = simple
[user]
	name = skullface
	email = skullface@users.noreply.github.com
